.input-field {
  margin-bottom: 15px;
}

.input-field__label {
  display: block;
  margin-bottom: 5px;
  font-weight: 400;
}

.input-field__required {
  color: var(--danger);
}

.input-field__control {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #cccccc;
  font-size: 16px;
}

.input-field__control--sm {
  padding: 8px;
  font-size: 14px;
}

.input-field__control--error {
  border-color: var(--danger);
}

.input-field__error {
  color: var(--danger);
  font-size: 0.9em;
  margin-top: 5px;
  margin-bottom: 0;
}
